@import url(../blocks/feynman/__link/feynman__link.css);

.feynman__link {
  text-decoration: none;
  color: #2F80ED;
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48px;
  top: 50%;
  transition: opacity .5s linear;
}

.feynman__link:hover {
  opacity: .6;
}
